body{
	
	font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
}
p{
	text-align: center;
}

h1{
	text-align: center;
}
#txtarea{
	display: block;
	margin-left: auto;
    margin-right: auto;
}
#name{
	display: block;
}
#email{
	display: block;
}
#bday{
	display: block;
}
#pref{
	display: block;
}
#radio{
	display:block;
}
