body{
	
	font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
}
p{
	text-align: center;
	font-weight:bold;
	color: #32CD32;
}

h1{
	text-align: center;
}
fieldset{
	border: #ff0000 3px solid;
}
legend{
	font-weight:bold;
}
#txtarea{
	display: block;
	margin-left: auto;
    margin-right: auto;
}
#name{
	display: block;
}
#email{
	display: block;
}
#bday{
	display: block;
}
#pref{
	display: block;
}
#radio{
	display:block;
}
form label{font-weight:bold;}